body {
	padding-top: 70px;
	padding-bottom: 20px;
}
h1 {
	font-size: 63px;
	text-align: center;
	color: #555;
}
.container p {
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: 200;
}
.navbar .brand {
	max-height: 40px;
	overflow: visible;
	padding-top: 0;
	padding-bottom: 0;
}
.navbar a.navbar-brand {
	padding: 9px 15px 8px;
}
.panel-heading {
	font-weight: bold;
}
.top-buffer {
	margin-top: 20px;
}
img.full-width {
	width: 100%;
}
.jumbotron {
      	padding: 30px;
	margin-bottom: 30px;
	color: inherit;
      	background-color: #fff;
	border: 0px;
	box-shadow: 0px 0px 0px #fff inset;
}
.jumbotron h1,
.jumbotron .h1 {
      	color: inherit;
}
.jumbotron p {
      	margin-bottom: 15px;
      	font-size: 21px;
      	font-weight: 200;
}
.jumbotron > hr {
      	border-top-color: #fff;
}
.container .jumbotron {
      	border-radius: 0px;
}
.jumbotron .container {
      	max-width: 100%;
}
.flask-pagedown-preview {
	border-style: solid;
	border-width: 0px 1px 4px;
	background-color: #F8F8F8;
	border-color: #E7E7E7;
	border-top-color: #E7E7E7;
	border-right-color-value: rgb(231, 231, 231);
	border-bottom-color: #E7E7E7;
	border-left-color-value: rgb(231, 231, 231);
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
}
.footer {
	font-size: 85%;
	text-align: center;
}
