{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">{{ group.name }} {% if current_user.get_id()|int == group.head_id|int %}<small><a href="{{ url_for('group_edit', id=group.id) }}"><span class="glyphicon glyphicon-pencil"></span></a></small>{% endif %}</h1>
		{% if group.image %}
		<p class="text-center"><img src="{{ url_for('.static', filename='group_images/') }}{{ group.id }}.jpg" class="img-responsive img-thumbnail"></p>
		{% endif %}
		{{ group.long_description|markdown}}
		<p><a class="btn btn-primary btn-lg pull-right" role="button">Learn more</a></p>
	</div>
</div>
{{ super() }}
{% endblock %}
