{% extends "base.html" %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{ message }}</strong>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<h1 class="text-center">{{ group.bezeichnung.split('-')[-1] }}</h1>
	{% if group_metadata.image_id %}
	<p class="text-center"><img src="{{ url_for('.static', filename='uploaded_images/') }}{{ group_metadata.image_id }}.jpg" class="img-responsive img-thumbnail"></p>
	{% endif %}
	{% if group.treffzeit %}
	<div class="panel panel-default">
		<div class="panel-heading">Wann</div>
		<div class="panel-body">{{ group.treffzeit }}</div>
	</div>
	{% endif %}
	{% if group.treffpunkt %}
	<div class="panel panel-default">
		<div class="panel-heading">Wo</div>
		<div class="panel-body">{{ group.treffpunkt }}</div>
	</div>
	{% endif %}
	{% if group.zielgruppe %}
	<div class="panel panel-default">
		<div class="panel-heading">Zielgruppe</div>
		<div class="panel-body">{{ group.zielgruppe }}</div>
	</div>
	{% endif %}
	{% if group.notiz %}
	<div class="panel panel-default">
		<div class="panel-heading">Notiz</div>
		<div class="panel-body">{{ group.notiz }}</div>
	</div>
	{% endif %}
	{% if group_metadata.description %}
	{{ group_metadata.description|markdown }}
	{% endif %}
	<p><a class="btn btn-primary btn-lg pull-right" role="button">Kontakt</a></p>
</div>
{{ super() }}
{% endblock %}
