{% extends "base.html" %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{ message }}</strong>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% if frontpage is none %}
	<p>Nothing here</p>
	{% else %}
	<div class="row top-buffer">
		<div class="col-xs-12">
			<a href="{{ frontpage.first_row_link }}"><img src="{{ url_for('static', filename='uploaded_images') }}/{{ frontpage.first_row_image }}.jpg" class="img-responsive full-width"></a>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-xs-12">
			<a href="{{ frontpage.second_row_link }}"><img src="{{ url_for('static', filename='uploaded_images') }}/{{ frontpage.second_row_image }}.jpg" class="img-responsive full-width"></a>
		</div>
	</div>
	<div class="row top-buffer">
		<div class="col-xs-6">
			<a href="{{ frontpage.third_row_left_link }}"><img src="{{ url_for('static', filename='uploaded_images') }}/{{ frontpage.third_row_left_image }}.jpg" class="img-responsive full-width"></a>
		</div>
		<div class="col-xs-6">
			<a href="{{ frontpage.third_row_right_link }}"><img src="{{ url_for('static', filename='uploaded_images') }}/{{ frontpage.third_row_right_image }}.jpg" class="img-responsive full-width"></a>
		</div>
	</div>
	{% endif %}
</div>
{{ super() }}
{% endblock %}
