<!-- <header class="business-header"></header> -->

<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('.static', filename='images/logo-trans.png') }}" alt=""> ECCLESIA N&Uuml;RNBERG</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">GEBETSANLIEGEN<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ url_for('.prayer') }}">Beten</a></li>
							<li><a href="{{ url_for('.prayer_add') }}">Einreichen</a></li>
							<li><a href="{{ url_for('.prayer_mine') }}">Meine Anliegen</a></li>
						</ul>
				</li>

        <li><a href="#">TERMINE</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">KLEINGRUPPEN<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
						<li><a href="#">Anmelden</a></li>
						<li><a href="{{ url_for('.groups') }}">&Uuml;bersicht</a></li>
          </ul>
        </li>

				{% if current_user.is_authenticated() %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFIL<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
						{% for user in session.user %}
						<li><a href="{{ url_for('profile', id=user.id) }}">{{ user.vorname }} {{ user.name }}</a></li>
						{% endfor %}
          </ul>
        </li>
				{% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
