<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('.static', filename='images/logo-trans.png') }}" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">DISCUSS<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ url_for('.whatsup_overview') }}">WhatsUp</a></li>
						</ul>
				</li>

				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">GEBETSANLIEGEN<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{{ url_for('.prayer') }}">Beten</a></li>
							<li><a href="{{ url_for('.prayer_add') }}">Einreichen</a></li>
							<li><a href="{{ url_for('.prayer_mine') }}">Meine Anliegen</a></li>
						</ul>
				</li>

				<li><a href="{{ url_for('.groups') }}">KLEINGRUPPEN</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFIL<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
						{% for user in session.user %}
						<li><a href="{{ url_for('profile', id=user.id) }}">{{ user.vorname }} {{ user.name }} {% if user.active %}<i class="fa fa-check"></i>{% endif %}</a></li>
						{% endfor %}
          </ul>
        </li>

      </ul>

			<form class="navbar-form navbar-right" role="search" action="{{ url_for('search') }}" method="post">
				<div class="form-group">
					{{ g.search_form.hidden_tag() }}{{ g.search_form.search(class_='form-control', placeholder='Suche') }}
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
