{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1><small>f&uuml;r</small> Anliegen <small>beten</small></h1>
	<div class="panel panel-default">
		{% if random_prayer.show_user %}
		<div class="panel-heading">{{ user.vorname }} {{ user.name }}</div>
		{% else %}
		<div class="panel-heading"></div>
		{% endif %}
		<div class="panel-body">
			{{ random_prayer.body|markdown }}
		</div>
	</div>
	<p><a class="btn btn-primary btn-lg pull-right" role="button" href="{{ url_for('.prayer') }}">Neues Anliegen</a></p>
</div>
{{ super() }}
{% endblock %}
