{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link href="{{ url_for('whatsup_recent_posts') }}" rel="alternate" title="Recent WhatsUp Posts" type="application/atom+xml">
<link href="{{ url_for('whatsup_recent_comments') }}" rel="alternate" title="Recent WhatsUp Comments" type="application/atom+xml">
{% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{ message }}</strong>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

	<h1>WhatsUp <small>discuss</small></h1>

	<p class="text-center">
		<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#AddModal"><i class="fa fa-plus"></i> Neuer Post</button>
		<a href="{{ url_for('whatsup_mine') }}"><button type="button" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Meine Posts</button></a>
	</p>

	<ul class="media-list">
		{% for post in posts %}
		<li class="media">
			<div class="media-left">
				<a href="{{ url_for('profile', id=post.user_id) }}">
					{% if post.user.avatar_id %}
					<img class="media-object" src="{{ url_for('.static', filename='uploaded_images') }}/{{ post.user.avatar_id }}-thumb.jpg">
					{% else %}
					<img class="media-object" src="{{ url_for('.static', filename='images/avatar-thumb.png') }}">
					{% endif %}
				</a>
				<div class="text-center">
					<small>
						{{ moment(post.pub_date).fromNow() }}
					</small>
				</div>
			</div>
			<div class="media-body">

				<h4 class="media-heading">
					<a href="{{ url_for('whatsup_post', id=post.id) }}">{{ post.subject }}</a>
					<small>
						{{ post.user.ct_data(ct_session).vorname }} {{ post.user.ct_data(ct_session).name }}
						&nbsp;|&nbsp;
						{% if post.did_i_upvote() %}
						<i class="fa fa-heart"></i>{{ post.upvotes|length }}
						{% else %}
						<a href="{{ url_for('whatsup_upvote', id=post.id) }}"><i class="fa fa-heart-o"></i></a>{{ post.upvotes|length }}
						{% endif %}
						&nbsp;|&nbsp;
						{% if post.did_i_comment() %}
						<i class="fa fa-comment"></i>{{ post.comments|length }}
						{% else %}
						<i class="fa fa-comment-o"></i>{{ post.comments|length }}
						{% endif %}
					</small>
				</h4>

				{{ post.body }}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add</h4>
      </div>
      <div class="modal-body">
				{{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
      </div>
    </div>
  </div>
</div>

{{ super() }}
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	<script>
		var formErrors = {% if form.errors %}true{% else%}false{% endif %}
		$(document).ready(function() {
			if (formErrors) {
				$('#AddModal').modal('show');
			}
		});
	</script>
{% endblock %}
